<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>ASACS App</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="mainmenu">Main Menu</a>
                        </li>
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Shelter</h1>
                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete Shelter</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Edit Shelter</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#updateHours">Edit Hours of Operation</a>

                <div>
                {% if shelter %}
                    <div>
                        <label>Description:</label><span>&nbsp{{ shelter.description }}</span><br>
                        <label>Conditions:</label><span>&nbsp{{ shelter.conditions }}</span><br>
                        <label>Male Bunks Available:</label><span>&nbsp{{ shelter.malecount }}</span><br>
                        <label>Female Bunks Available:</label><span>&nbsp{{ shelter.femalecount }}</span><br>
                        <label>Mix Bunks Available:</label><span>&nbsp{{ shelter.mixcount }}</span><br>
                        <label>Family Rooms Available:</label><span>&nbsp{{ shelter.roomsavailable }}</span><br>
                        {% if resultHO %}
                            <label>&nbsp;Hours of Operation:&nbsp;</label><br>
                            {% for ho in resultHO %}
                                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ho.day}}: {{ho.open}} to {{ho.closed}}&nbsp;</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                </div>

            </div>

            <div>
                <br>
                <h2>Waitlist</h2>
                {% if waitlist %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank Order</th>
                                <th>Client Id</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in waitlist %}
                            <tr>
                                <td style="display:none;">{{item.waitlistid}}</td>
                                <td>{{item.rankorder}}</td>
                                <td>{{item.clientid}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-lg" onclick="moveUp({{ item.waitlistid }}, {{ item.rankorder }})">
                                        Up
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-lg" onclick="moveDown({{item.waitlistid}}, {{item.rankorder}})">
                                        Down
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-lg" onclick="deleteWaitlist({{ item.waitlistid }}, {{item.rankorder}})">
                                        Delete</button>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                        <tbody></tbody>
                    </table>
                {% else %}
            <div>No Waitlist</div>
                {% endif %}
            </div>
            </div>
            </div>
        </div>
    </body>

<!-- Update Shelter Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Update Shelter</h4>
            </div>
            <form action="/shelter" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="modal-body">
                    <label>Description: </label><input id="modalDesc" value="{{ shelter.description }}"
                                                       name="description" type="text" required></input>
                    <label>Conditions: </label><input id="modalDesc" value="{{ shelter.conditions }}"
                                                       name="conditions" type="text" required></input>
                    <label>Male Bunks Available: </label>
                    <input id="modalMale" value="{{ shelter.malecount }}" name="malecount" type="number" min="0"
                           max="{{ shelter.malemax }}" required>

                    </input>
                    <label>Female Bunks Available: </label>
                    <input id="modalFemale" value="{{ shelter.femalecount }}" name="femalecount" type="number" min="0"
                           max="{{ shelter.femalemax }}" required>

                    </input><br>
                    <label>Mixed Bunks Available: </label>
                    <input id="modalMix" value="{{ shelter.mixcount }}" name="mixcount" type="number" min="0"
                           max="{{ shelter.mixmax }}" required>

                    </input>
                    <label>Family Rooms Available: </label>
                    <input id="modalAvail" value="{{ shelter.roomsavailable }}" name="roomsavailable" type="number"
                           min="0" max="{{ shelter.maxrooms }}" required>

                    </input><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Update Hours Of Operation Modal -->
    <div class="modal fade" id="updateHours" tabindex="-1" role="dialog" aria-labelledby="updateLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Update Hours of Operation</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            {% if resultHO %}
                                {% for ho in resultHO %}
                                    <form action="/hours" method="POST" id="hoo">
                                        <input type="hidden" name="_method" value="PUT">
                                        <input type="hidden" name="returnPage" value="/shelter">
                                        <input type="hidden" name="id" value="{{ho.id}}">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label class="control-label">Day</label>
                                            </div>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="day" value="{{ho.day}}">
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Open</label>
                                            </div>
                                            <div class="col-sm-10">
                                                <input type="time" class="form-control" name="open" value="{{ho.open}}">
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label">Closed</label>
                                            </div>
                                            <div class="col-sm-10">
                                                <input type="time" class="form-control" name="closed" value="{{ho.closed}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button2" class="btn btn-primary btn-sm" >
                                                Update
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" onclick="deleteHOO({{ ho.id }})">
                                                Delete
                                            </button>
                                        </div>
                                    </form>


                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No Hours of Operation to Edit</td>
                                </tr>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/hours" method="POST">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="returnPage" value="/shelter">
                                {% if shelter %}
                                    <input type="hidden" name="serviceid" value="{{shelter.serviceid}}">
                                {% endif %}
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label">Day</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="newDay" value="">
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Open</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control" name="newOpen" value="">
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Closed</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control" name="newClosed" value="">
                                    </div>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button3" class="btn btn-primary btn-sm" onclick="">
                                        Add
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

   <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete this Shelter</h4>
          </div>
            <form action="/shelter" method="POST">
                <input type="hidden" name="_method" value="DELETE">
              <div class="modal-body">
                Are you sure you want to delete this Shelter?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" type="submit">Delete</button>
              </div>
            </form>
        </div>
      </div>
    </div>

</div>


<script>

    function moveUp (waitlistid, rankorder) {
        $.ajax({
            url: "/shelter",
            type: "MOVEUP",
            data: {
                data: JSON.stringify({
                    waitlistid: waitlistid,
                    rankorder: rankorder
                })
            }
        }).success(function () {
            window.location = "/shelter";
        });
    }

    function moveDown (waitlistid, rankorder) {
        $.ajax({
            url: "/shelter",
            type: "MOVEDOWN",
            data: {
                data: JSON.stringify({
                    waitlistid: waitlistid,
                    rankorder: rankorder
                })
            }
        }).success(function () {
            window.location = "/shelter";
        });
    }

    function deleteWaitlist (waitlistid, rankorder) {
        $.ajax({
            url: "/shelter",
            type: "DELETE",
            data: {
                data: JSON.stringify({
                    waitlistid: waitlistid,
                    rankorder: rankorder
                })
            }
        }).success(function () {
            window.location = "/shelter";
        });
    }

    function deleteHOO(hourid) {
        $.ajax({
            url: "/hours",
            type: "DELETE",
            data: {
                data: JSON.stringify({
                    id: hourid,
                    returnPage: '/shelter'
                })
            }
        }).success(function () {
            window.location = "/shelter";
        });
    }

</script>
</html>